/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 0 auto;
  padding-block-start: 102px;
  inline-size: clamp(23.438rem, 13.406rem + 40.13vw, 43.5rem);
  min-block-size: 100dvb;
  font-family: var(--main-font);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-variation-settings: "wght" var(--main-weight-text), "slnt" 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-block-size: clamp(20.25rem, 19.37rem + 3.76vw, 22.75rem);
  padding-block-end: clamp(1.188rem, 1.188rem + 0vw, 1.188rem);
  border: var(--border-container);
  background-color: var(--bg-color);
}

.header-title {
  font-family: var(--accent-font);
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  font-weight: 400;
  padding-block-end: 18px;
  text-transform: uppercase;
  display: block;
}

.header-subtitle {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.theme-menu__list {
  padding-block-start: 20px;
  padding-inline-start: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.theme-menu__item:focus-visible {
  outline: none;
}

.theme-menu__button:focus-visible {
  outline: none;
}

main {
  margin-block-start: 104px;
  margin-block-end: 103px;
}

.memory__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.memory__list-container {
  display: flex;
  flex-direction: column;
  border: var(--border-container);
  background-color: var(--bg-color);
}

.card-title {
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: "wght" var(--main-weight-title), "slnt" 0;
  padding: 3px 24px 7px 12px;
  line-height: 22px;
}

.sprint-card {
  block-size: clamp(23.438rem, 16.373rem + 30.14vw, 43.5rem);
  overflow: hidden;
  border-block-start: var(--border-container);
  border-block-end: var(--border-container);
}

.image_card {
  margin-block-start: 4px;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.brightness {
  filter: brightness(50%);
}

.contrast {
  filter: contrast(250%);
}

.saturate {
  filter: saturate(300%);
}

.grayscale {
  filter: grayscale(0.8);
}

.invert {
  filter: invert(0.7);
}

.hue-rotate {
  filter: hue-rotate(-90deg);
}

.blur {
  filter: blur(5px);
}

.poly-filter {
  filter: contrast(60%) invert(1) brightness(100%) hue-rotate(90deg);
}

.card-label {
  display: block;
  font-family: var(--accent-font);
  text-align: end;
  font-size: 14px;
  font-weight: var(--main-weight-text);
  opacity: 0.5;
  text-shadow: 0 0 1px var(--color-text-stroke);
  transform: translate(-20px, 20px);
  margin-block-end: -17px;
  mix-blend-mode: hard-light;
  z-index: 1;
  position: relative;
}

@supports (
  (text-stroke: 1px var(--color-text-stroke)) or
    (-webkit-text-stroke: 1px var(--color-text-stroke))
) {
  .card-label {
    -webkit-text-stroke: 1px var(--color-text-stroke);
    text-stroke: 1px var(--color-text-stroke);
    text-shadow: none;
  }
}

.card-text {
  padding: 25px 25px 25px 25px;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-weight-text), "slnt" 0;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__like-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.card__like-button {
  background-color: transparent;
  inline-size: 130px;
  block-size: 38px;
  border: var(--border-container);
  cursor: pointer;
  position: relative;
}

.button-decorated:focus {
  outline: none;
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  display: flex;
  border: none;
  block-size: 38px;
  align-items: center;
  outline: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.button__text {
  position: relative;
  z-index: 2;
  display: block;
  font-family: var(--accent-font);
  font-weight: var(--main-weight-text);
  font-size: 14px;
  mix-blend-mode: difference;
  color: var(--mix-blend-color);
  line-height: 150%;
}

.footer-container {
  margin-block-start: 54px;
  display: flex;
  justify-content: center;
}

form {
  display: contents;
}

.memory-button {
  font-family: var(--accent-font);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0 19px 0 21px;
  background-color: var(--bg-color);
  min-block-size: 51px;
  border: var(--border-container);
  cursor: pointer;
  position: relative;
  grid-column: 1/3;
}

.memory-disk {
  inline-size: 21px;
  block-size: 21px;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--mix-blend-color);
}

dialog[open] {
  display: grid;
  padding: 31.5px;
  column-gap: 17px;
  grid-template-columns: min-content 1fr;
  align-items: center;
  align-content: space-between;
  inline-size: clamp(21.313rem, 20.96rem + 1.5vw, 22.313rem);
  block-size: 193px;
  text-transform: uppercase;
  background-color: var(--bg-color);
  border: var(--border-container);
}

dialog[open] .memory-disk {
  inline-size: 39px;
  block-size: 39px;
}

dialog[open] .memory-button {
  min-block-size: 38px;
}

dialog[open] .button__text {
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

@media (width <= 375px) {
  .page {
    inline-size: 100vw;
  }

  .memory-button {
    flex-direction: column;
    min-block-size: 80px;
    justify-content: center;
  }

  .memory-disk {
    inline-size: 28px;
    block-size: 35px;
  }

  .card-label {
    transform: translate(-10px, 20px);
  }

  dialog[open] {
    block-size: 195px;
  }
}
